* {
    margin: 0 auto;
}

body {
    margin: 0;
}

.container {
    width: 1280px;
}

.product-name {
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    background-color: #445161;
}

.product-name:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.product-name-wrapper {
    width: 500px;
    float: left;
}

.product-name-heading {
    margin: 0 0 50px 0;
    font-family: ArialMT;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;
}


.heading-list {
    display: inline-block;
    margin: 0;
    list-style-type: none;
}

.heading-list_item {
    color: #fff;
    font-family: ArialMT;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    position: relative;
}

.heading-list_item:before {
    content: "";
    display: block;
    position: absolute;
    left: -39px;
    top: 6px;
    width: 25px;
    height: 19px;
    background-image: url(img/check_icon.png);
}

.product-name-img {
    display: block;
    background-color: #fff;
    width: 469px;
    height: 214px;
    float: right;
}

.about {
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
}

.about:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.about-wrapper {
    width: 649px;
    float: left;
}

.about-wrapper-heading {
    width: 254px;
    height: 28px;
    font-family: ArialMT;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 30px 0;
}

.about-wrapper-p {
    margin: 0 0 20px 0;
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.about-video {
    background-color: #445161;
    width: 430px;
    height: 245px;
    float: right;
}

.dignity {
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    background-color: #f5f5f5;
}

.dignity:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.dignity-heading {
    margin: 0 0 30px 0;
    font-family: ArialMT;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
}

.dignity-summary-1,
.dignity-summary-2 {
    width: 590px;
    display: inline-block;
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary {
    position: relative;
}

details summary:before {
    content: " + ";
    position: absolute;
    background-color: #445161;
    left: -40px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    font-size: 42px;
}

details[open] summary:before {
    content: " - ";
}

.dignity-summary-1 {
    float: left;
}

.dignity-summary-2 {
    float: right;
}

.details-wrapper {
    margin: 0 0 35px 40px;
    font-style: italic;
    color: darkblue
}

summary {
    font-style: normal;
    color: #333;
}

.screenshots {
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
}

.screenshots:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.screenshots-heading {
    margin: 0 0 35px 0;
    font-family: ArialMT;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
}

.inside-ss {
    height: 150px;
    margin: 0 0 30px 0;
}

.inside-ss-img {
    width: 200px;
    height: 150px;
    background-color: #445161;
    display: block;
    margin: 0 15px 0 0;
    float: left;
}

.ss-img-name {
    font-family: ArialMT;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 0 0;
}

.inside-ss-p {
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    width: 580px;
    margin: 0;
}

.ss-left {
    float: left;
}

.ss-right {
    float: right;
}

.reviews {
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    background-color: #f5f5f5;
}

.reviews:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.reviews-heading {
    margin: 0 0 30px 0;
    font-family: ArialMT;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
}

.reviews-left {
    float: left;
}

.inside-review {
    display: flex;
    margin: 0 0 25px 0;
}

.reviews-right {
    float: right;
}

.reviews-img {
    width: 75px;
    height: 75px;
    background-color: #445161;
    border-radius: 50%;
    margin: 0 25px 0 0;
}

.reviews-left-div,
.reviews-right-div {
    margin: 0 0 0 0;
    width: 450px;
    text-align: left;
    background-color: #ccc;
    padding: 15px;
    position: relative;
    border-radius: 5px;
}

.reviews-left-div:before,
.reviews-right-div:before {
    content: "";
    border: 15px solid transparent;
    border-right: 15px solid #ccc;
    position: absolute;
    top: 20px;
    left: -30px;
}

.author {
    display: block;
    margin-top: 15px;
}

.reviews-left-p,
.reviews-right-p {
    font-family: ArialMT;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    margin: 0;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.author {
    font-family: ArialMT;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    font-style: normal;
}

.buy {
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

/*.buy:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}*/

.buy-heading {
    margin: 0 0 30px 0;
    font-family: ArialMT;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    display: block;
    width: 100%;
}

.buy-box {
    width: 300px;
    margin: 0 45px 0 0;
    padding: 16px 0 20px 0;
    box-sizing: border-box;
    background-color: #445161;
    color: #fff;
    font-family: ArialMT;
    border-radius: 5px;
}

.buy-box-standart {
    margin-left: 140px;
}

.buy-box-offer {
    text-align: center;
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

.buy-box-price {
    display: block;
    width: 98%;
    background-color: #fff;
    text-align: center;
    padding: 18px 0;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
}

.buy-box-list {
    margin: 20px auto;
}

.buy-box-items {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.buy-button {
    width: 260px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #445161;
}

.buy-button:hover {
    background-color: #ddd;
}

.buy-button:active {
    background-color: #ccc;
    color: royalblue;
}

.contacts {
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    background-color: #445162;
}

.contacts-heading {
    margin: 0 0 30px 0;
    font-family: ArialMT;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
}

.contacts-container {
    display: flex;
    justify-content: center;
}

form {
    margin: 0 50px 0 0;
}

input[type="text"],
input[type="email"],
textarea,
input[type="submit"] {
    display: block;
    width: 500px;
    background-color: #fff;
    margin: 0 0 21px 0;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
    padding: 0 0 0 10px;
}

textarea {
    resize: none;
    height: 170px;
}

textarea::placeholder {
    padding-top: 13px;
}


input[type="submit"] {
    width: 140px;
    height: 40px;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-left: 200px;
}

input[type="submit"]:hover {
    background-color: #ddd;
}

input[type="submit"]:active {
    background-color: #ccc;
    color: royalblue;
}

.contacts-info {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 240px;
}

.contacts-one-icons {
    display: block;
    text-decoration: none;
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    margin: 0 0 18px 0;
}

.contacts-txt{
    margin: 0 0 0 30px;
}

.skype{
    background-image: url(../img/skype.png);
    background-repeat: no-repeat;
}

.icq{
    background-image: url(../img/icq.png);
    background-repeat: no-repeat;
}

.dog{
    background-image: url(../img/dog.png);
    background-repeat: no-repeat;
}

.phone{
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
}

.contacts-one-icons:hover{
    color: royalblue;
}

.icons-themselves {
    margin: 0 5px 0 0;
    width: 26px;
    height: 26px;
    float: left;
}

.fa {
    background-color: #fff;
    border-radius: 50%;
    width: 42px;
    height: 39px;
    color: #445162;
    line-height: 42px;
    text-align: center;
    margin: 16px 2px 0 0;
    padding: 3px 0 0 0;
}

.fa:hover{
    color: #fff;
    background-color: royalblue;
}

.fa:active,
.contacts-one-icons:active{
    background-color: #ccc;
    color: royalblue;
}

.copyright{
    width: 100%;
    text-align: center;
    color: #445162;
}
